pytigon
cython
html5lib
daphne
channels
cffi
numpy
wasmer
fs.sshfs
easy_thumbnails
croniter
ldap3
Twisted[tls,http2]
hypercorn
plotly
xonsh
netifaces
django-polymorphic
django-filter
django-webpush
django_compressor
django-q-email
django-mptt
django-filer
django_redis
django-log-viewer
django_python3_ldap
django-sql-explorer
django-allauth
django-oauth-toolkit
psutil
numba
llvmlite
django-guardian 
djangorestframework
django_pwa @ git+https://github.com/silviolleite/django-pwa.git
graphene_django @ https://github.com/graphql-python/graphene-django.git
gql
