pytigon
html5lib
Twisted[tls,http2]
channels
numpy
easy_thumbnails
croniter
plotly
django-polymorphic
django-filter
django-webpush
django_compressor
django-q-email
django-mptt
django-filer
django_redis
django-log-viewer
django_python3_ldap
django-sql-explorer
django-allauth
django-oauth-toolkit
django-guardian 
djangorestframework
django-pwa
graphene
graphene_django
django-graphql-jwt
fs.sshfs
psutil
netifaces
llvmlite
numba
ldap3
gql
waitress
uvicorn[standard]
dulwich
cffi
wasmer
wasmer_compiler_cranelift
xonsh
